@font-face {
    font-family: "HelveticaNowDisplay";
    src: url('/fonts/helvetica-now/HelveticaNowDisplay-Light.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "HelveticaNowDisplay";
    src: url('/fonts/helvetica-now/HelveticaNowDisplay-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "HelveticaNowDisplay";
    src: url('/fonts/helvetica-now/HelveticaNowDisplay-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Impact';
    src: url('/fonts/impact.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Polysans';
    src: url('/fonts/polysanstrial-slim.otf') format('truetype');
    font-weight: 300; /* Regular */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trash Medium';
    src: url('/fonts/trash-medium.otf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}