@import "tailwindcss";
@import "./fonts.css";

:root {
    /* Base colours */
    --background: #fff;
    --foreground: #000;

    /* Font families */
    --font-sans: "HelveticaNowDisplay", sans-serif;
}

@theme {
    /* colours */
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-tomato-red: #e60d0d;
    --color-dark-gray: #999999;

    /* fonts */
    --font-family-sans: var(--font-sans);
    --font-impact: "Impact", sans-serif;
    --font-polysans: "Polysans", sans-serif;
    --animate-slow-spin: slowspin 15s linear infinite;
    
    /* animations and keyframes */
      @keyframes slowspin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
}

@utility container {
    margin-inline: auto;
}

body {
    font-family: var(--font-sans);
    background: var(--background);
    color: var(--foreground);
}
